@{
    ViewData["Title"] = "Home Page";
}

<tbody>
    <form action="/Home/PaySalery" method="post">
        <tr>
            <td class="tablehead">Hi</td>
            <td><input class="" type="text" style="width: 25px" name="PersonID" /></td>
            <td><input class="" type="text" style="width: 30px" name="ProjectID" /></td>
            <td><input class="" type="text" style="width: 30px" name="HokmID" /></td>
            <!-- ... -->
        </tr>
        <button class="btn btn-success mb-4" type="submit">ثبت حقوق</button>
    </form>
</tbody>
